.page__profil{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}
.profil{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 50px;
    width: 65%;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;

}
.title{
    margin-bottom: 40px;
    &__red{
      color:#FF0000
    }
}
.chart__activity{
  padding:30;
  width:100%;
  height:320px;
  background-color:#FBFBFB ;
  border-radius: 5px ;
}
.charts__other{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width:100%;
  height:320px;
  margin-top: 40px;
  gap:1%;
    &--objectifs{
      width: 28%;
      height: 263px;
      background-color:#FF0000;
      padding: 20px;
      border-radius: 5px ;
    }
    &--radar{
      width: 28%;
      height: 263px;
      background-color: black;
      padding: 20px;
      border-radius: 5px ;
    }
    &--kpi{
      width: 28%;
      height: 263px;
      background-color: #FBFBFB;
      padding: -10px;
      border-radius: 5px ;
    }
}
.result{
  margin-top: 214px;
  display: flex;
  flex-direction: column;
  gap: 10%;

  &__article{
    background-color:#FBFBFB ;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img{
      margin-right: 20px;
    }
  }
}
