.vertical {
  background-color: black;
  width: 117px;
  height: auto;
  display: flex;
}
.vertical__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  gap: 6%;
  padding: 26px;
  margin-top: 180px;
  margin-bottom: 20px;
  align-content: center;
}
.vertical__nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: space-between;
}
.vertical__copyright {
  display: flex;
  color: white;
  rotate: z 180deg;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  /*text-align: center;*/
  padding: 30px;
  margin-top: 60%;
}